@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #e9f4fd; */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-color: #F4E9FF;
  color: #0e260c;
  overflow-x: hidden;
}

#hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../theme/soft-purple/background-hero.webp");
  height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Parisienne", cursive;
}

.couple-photo {
  background-image: url("../theme/soft-purple/border-1.webp");
  border-radius: 50%;
  width: 350px;
  height: 350px;
  background-position: center;
  background-size: contain;
  object-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media only screen and (max-width: 724px) {
  #hero::before {
    width: 150px;
    height: 150px;
    left: -3rem;
    top: -3rem;
  }

  #hero::after {
    width: 150px;
    height: 150px;
    right: -2rem;
  }

  #countdown::after {
    top: -12rem;
  }
}
